
<br>
<br>

<div  style="margin-bottom: 3em;" class="container">
  <div class="row">
    <div class="col-md-6">Código FIPE: {{resultado.fipe_codigo}} </div>
    <br>
    <div class="col-md-6">Referência: {{resultado.referencia}}</div>
  </div>
 
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">Nome: {{resultado.name}}</div>
    <br>
    <div class="col-md-6">Combustivel: {{resultado.combustivel}}</div>
  </div>
  
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">Marca:  {{resultado.marca}}</div>
    <br>
   <div class="col-md-6">Ano Modelo: {{resultado.ano_modelo}}</div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-6">Preco: {{resultado.preco}}</div>
  </div>

  <br>
  <br>
<div>
  <button type="button" (click)="limpar()" class="btn btn-primary">Voltar</button>
</div>
</div>

