<div>
  <h2>FipeCLi</h2>

  <p>Consulta de Veículos da tabela FIPE</p>

  <table>
    <thead>
      <td>Tipo de Veiculo</td>
      <td></td>
    </thead>
    <tbody>

      <tr *ngFor="let tipoVeiculo of tipos; let idx = index">
        <td>{{ tipoVeiculo.description }}</td>
        <td><input type="radio" name="certificategroup" (change)="onSelectionChange(tipoVeiculo)" [checked]="(idx === 0)" [value]="tipoVeiculo.value"></td>
      </tr>

    </tbody>
  </table>

  <hr>

  <br>
  <div>
    <p>Selecione a Marca</p>
    <select [ngModel]="idMarca" (ngModelChange)="onChange($event)" name="seletorMarca">
    <option [value]="marca.id" *ngFor="let marca of marcas">{{marca.name}}</option>
</select>
  </div>
<hr>

  <br>

  <div>
    <p>Selecione o Veiculo</p>
    <select [ngModel]="veiculoSelecionado" (ngModelChange)="onChangeVeiculo($event)" name="seletorVeiculo">
    <option [value]="veiculo.id" *ngFor="let veiculo of veiculos">{{veiculo.name}}</option>
</select>
  </div>
<hr>

  <br>
  <div>
    <p>Selecione o Modelo</p>
    <select [ngModel]="modeloSelecionado" (ngModelChange)="onChangeModelo($event)" name="seletorModelo">
    <option [value]="modelo.id" *ngFor="let modelo of modelos">{{modelo.veiculo}} - {{modelo.name}}</option>
</select>
  </div>

  <br>
  <hr>

    <div class="table-responsive" [hidden]="!isExibeResultado" >
  <h2>Veículo Escolhido</h2>

  <table class="table">
    <tr >
      <th>NOME</th>
      <th>COMBUSTIVEL</th>
      <th>MARCA</th>
      <th>ANO MODELO</th>
      <th>PREÇO</th>
      <th>DESCRIÇÃO</th>
    </tr>
    
    <tr *ngIf="!isExibeResultado">

     


    </tr> 
  </table>
</div>
  <!--
  <pre>
{{ this.selectedTipoVeiculo | json }}
</pre>-->

</div>